.App {
  text-align: center;
  
  
}

.row {
  display: flex;
  justify-content: center;
  
}

body {
  background: url("../img/bg-image.jpg");  
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100%;
  
}



