.App {
  text-align: center;
  
}

.row {
  display: flex;
  justify-content: center;
  
}

body {
  background: url("../img/bg-image.jpg");  
  background-size:cover;
    background-repeat:   no-repeat;
    background-position: center center;
    margin-bottom: 0px;
 
}

html {
  
}