
.container {
  display: flex;
  flex-direction: column;  
  font-size:x-large;
  margin-top: 50px;
  justify-items: center;
  /* margin-left: 19%; */
  padding-right: 10%;
}

.ciudad {
  display: flex;
  flex-direction: column;  
  font-size:x-large;
  
  
  
}