
.container {
  display: flex;
  flex-direction: column;  
  font-size:x-large;
  margin-top: 50px;
  justify-items: center;
  /* margin-left: 19%; */
  padding-right: 10%;
}

.ciudad {
  display: flex;
  flex-direction: column;  
  font-size:x-large;
  
  
  
}

#map { height: 180px; }

.card-country {
  font-size: small;
  font-weight:600;
}