#logo {
  /* margin-right: 20px; */
  margin-left: 13px;
  width: 60px;
  height: 60px;
  
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between
  
}


#background {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size:x-large
}

.NavbarContainer {
  
  position: relative;
}

.aboutNav {

  display: flex;
  flex-direction: column;
  position:absolute;
  top: 35%;
  left: 45%;
  font-size: large;
  font-weight: 450;
  
  
 
  
}

/* #logoAlign {
  display: flex;
  flex-direction: column;
  align-items: center;

} */


/* .bg-dark {
  --bs-bg-opacity: 1;
  background: rgb(255, 16, 16);
} */

.navbar {
  background-color: rgba(144, 238, 144, 0.33);
}